:root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;

    --vt-c-black: #303030;
    --vt-c-black-soft: #383838;
    --vt-c-black-mute: #4b4b4b;

    --vt-c-indigo: #2c3e50;

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-light-highlight: rgba(36, 56, 141, 1);
    --vt-c-text-dark-1: var(--vt-c-white-mute);
    --vt-c-text-dark-2: rgba(224, 224, 224, 0.64);
    --vt-c-text-dark-highlight: rgba(123, 166, 222, 1);
}

:root {
    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);

    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);
    --color-highlight: var(var(--vt-c-text-light-highlight));
    --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--vt-c-black);
        --color-background-soft: var(--vt-c-black-soft);
        --color-background-mute: var(--vt-c-black-mute);

        --color-border: var(--vt-c-divider-dark-2);
        --color-border-hover: var(--vt-c-divider-dark-1);

        --color-heading: var(--vt-c-text-dark-1);
        --color-text: var(--vt-c-text-dark-2);
        --color-highlight: var(--vt-c-text-dark-highlight);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    margin: 0;
    color: var(--color-text);
    background: var(--color-background);
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.6;
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--color-background-soft);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    padding-bottom: 20px;
}

.container h1 {
    padding: 20px;
    margin: 0 0 20px;
    color: var(--color-heading);
    background-color: var(--color-background-mute);
}

.fullwidth {
    padding: 10px 20px;
    width: 100%;
}

.container button {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    background-color: var(--color-background-soft);
    color: var(--color-title);
    cursor: pointer;
}

.container button:hover {
    background-color: var(--color-background-mute);
    color: var(--color-heading);
}

a {
    text-decoration: none;
    color: var(--color-text);
}

a:hover {
    color: var(--color-heading);
}

.hoverable {
    border-bottom: solid 1px var(--color-border);
}

.hoverable:hover {
    cursor: pointer;
    background-color: var(--color-background-mute);
    border-bottom: solid 1px var(--color-border-hover);
}

i {
    margin-right: 5px;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
    }
}